body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-image: url(./images/Q&A\ background.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid gold;
  border-radius: 25px;
  box-shadow: 2px 2px 10px 5px rgb(240, 206, 12);
  background: rgb(88, 73, 73);
  align-items: center;
  justify-content: center;
}
.option {
  display: block;
  margin: 10px 5px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  border: 3px solid rgb(237, 202, 9);
  border-radius: 5px;
  background-color: #160303;
  font-size: 1.5rem;
  color: white;
}
.option:hover {
  background-color: gray;
}
#timer {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 60, 60);
  display: grid;
  justify-content: space-between;
  gap: 10px;
}
.nextBtn {
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  background: rgb(194, 189, 189);
  font-weight: 300;
  cursor: pointer;
}
.nextBtn:hover {
  background: rgb(78, 71, 71);
  color: wheat;
}
